body {
  margin: auto;
  max-width: 445px;
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

button {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

#bingoCard {
  display: grid;
  width: 425px;
  grid-template-columns: repeat(5, 85px);
  grid-template-rows: repeat(5, 85px);
  border: blueviolet solid 4px;
  border-radius: 15px;
  background-color: aliceblue;
  align-items: center;
}

.numDiv {
  border-radius: 10px;
  border: blueviolet solid 1px;
  cursor: pointer;
  padding-top: 28px;
  padding-bottom: 28px;
}


.numDiv,
#genNum {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  color: blueviolet;
}

#genNum {
  padding-left: 15px;
}

#errorField{
  text-align: center;
  font-size: large;
}

h1 {
  font-size: xx-large;
}